/* GOOGLE font set up  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GOOGLE font set up  */
/* universal styles */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans';
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

.btn_primary {
    text-transform: capitalize;
    padding: 15px 20px;
    border-radius: 6px;
    background: #FF900E;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn_primary:hover {

    background: #db7a09;
}

.desc_p {
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.heading_h1 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.responsive_des {
    max-width: 75%;
    margin: 0 auto;
}

.dnone {
    display: none;
}

/* universal styles */
/* home_banner styles */
.home_banner {
    padding: 50px 0;
    background: rgba(255, 144, 14, 0.10);

}

.home_banner_wrapper {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_title {
    color: #131313;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

nav {}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {

    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 15px;
}

nav a {
    color: #424242;
}

nav a:hover {}

.home_banner_elements {
    text-align: center;
    padding: 80px 0 20px;
    margin: 0 auto 6px;
}

.home_banner_heading {
    font-size: 3rem;
}

.home_banner_desc {
    padding: 25px 0;
    width: 100%;
    margin: 0 auto;
}

.banner_img {
    border-radius: 8px;
    max-width: 100%;
    text-align: revert-layer;
}

/* home_banner styles */
/* feature styles */
.feature_section {
    padding: 75px 0;
}

.feature_section_wrapper {
    max-width: 73%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.feature_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    flex-basis: 50%;
}

.feature_images img {
    max-width: 260px;
}

.feature_title {
    color: #727272;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
}

.feature_title span {
    color: #131313;
    font-weight: 700;
}

.feature_title span:last-child {

    color: #FF900E;
    font-weight: 700;
}

.feature_desc {

    margin: 20px 0;
}

/* feature styles */
/*extra feature styles */
.extra_feature {}

.extra_feature_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.extra_feature_text {
    flex-basis: 50%;
}

.extra_feature_text h1 {
    border-left: 5px solid #FF900E;
    padding: 0px 0 0 20px;
    text-transform: capitalize;
}

.extra_feature_text_p {
    margin: 20px 0 20px;
}

.extra_feature_card_container {}

.extra_feature_card p {

    font-size: 0.8rem;
}

.extra_feature_card h3 {

    padding: 0 0 10px;

    font-size: 1rem;
}

.extra_feature_card {

    padding: 25px 33px 25px;

    box-shadow: 0px 0px 8px 0px #0000007d;

    margin: 15px 0;

    border-radius: 8px;
}

.extra_feature_image {
    flex-basis: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.extra_feature_image img {
    max-width: 93%;
}

.experience_card {
    background: #ff900e;
    text-align: center;
    padding: 30px 15px;
    width: 40%;
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
    line-height: 25px;
    position: absolute;
    bottom: -55px;
    left: -20px;
}

.experience_card h1 {
    font-weight: 500;
}

.experience_card span {
    font-size: 1rem;
}

/*extra feature styles */

.fact_section {
    padding: 50px 0 30px;
}

.fact_section_wrapper {}

.fact_section_wrapper h1 {}

.fact_section_warapper p {
    width: 60%;
    margin: 10px 0 0;
}

.facts_container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.facts {
    border: 1px solid #FF900E;
    border-radius: 5px;
    padding: 30px 35px;
    text-align: center;
    line-height: 30px;
    transition: all .5s;
}

.facts:hover {
    background: #ff900e;
    color: white !important;

}

.facts img {}

.facts h4 {

    font-size: 2rem;

    color: #424242;
}

.facts p {

    color: #727272;

    font-weight: 600;

    font-size: 1rem;

    width: 100%;
}

/* facts style  */
/* sponsors style */
.sponsors_section {
    padding: 40px 0 100px;
}

.sponsors_section_wrapper {
    text-align: center;
}

.sponsors_section_wrapper h1 {}

.sponsors_section_wrapper p {
    margin: 20px 230px 45px;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.sponsors img {
    max-width: 60%;
    opacity: 50%;
}

/* sponsors style */
/* footer style  */
footer {

    padding: 0 0 50px;
}

footer p {
    color: #424242;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.footer_wrapper {
    padding: 25px 0;
    border-radius: 8px;
    background: #FFF4E7;
}

/* footer style  */





/* ===============responsive section===============*/
@media screen and (max-width:576px) {
    .responsive_des {
        max-width: 90%;
    }

    header {
        text-align: center;
        background: #ff900e;
        padding: 30px 0;
        border-radius: 6px;
        flex-direction: column;
    }

    nav ul, nav {
        text-align: center;
    }

    nav li {
        margin: 20px 10px 10px;
    }

    .logo_title, nav a {
        color: aliceblue;
    }

    .home_banner {
        padding: 20px 0;
    }



    .home_banner_elements {
        padding: 30px 0;
        margin: 0;
    }

    .home_banner_heading {
        font-size: 2rem;
    }

    .home_banner_desc {
        width: 100%;
    }

    .feature_section {}

    .feature_section_wrapper {
        flex-direction: column-reverse
    }

    .feature_images {
        grid-template-columns: auto;
    }

    .feature_images img {
        max-width: 100%;
    }

    .extra_feature_wrapper {
        flex-direction: column;
        gap: 0;
        padding-bottom: 80px;
    }

    .extra_feature_text h1 {

        font-size: 2.5rem;
    }

    .experience_card {

        left: 0;

        bottom: 0;

        top: 0;

        border-radius: 8px 0px 0px 8px;

        opacity: 45%;

        font-size: small;

        width: 50%;

    }

    .fact_section_warapper p {

        width: 100%;

    }

    .facts_container {

        flex-direction: column;

        gap: 20px;

        padding: 20px 0;
    }

    .sponsors_section_wrapper p {
        margin: 20px 0 45px;
    }

    .sponsors {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px 0;
    }

    .sponsors img {
        max-width: 70%;
    }
}
/* medium device */

@media only screen and (max-width : 1024px) {
    .responsive_des {
        max-width: 90%;
    }

    .extra_feature_wrapper {
        padding-bottom: 40px;
    }
}